html {
    body {
        #map {
            width : 800px;
            height: 600px;
            margin: auto;

            .leaflet-pane {
                .severe {
                    .leaflet-popup-content-wrapper {
                        background: rgb(167, 0, 0);
                        color     : white;

                        a {
                            color: lightgrey;
                        }
                    }

                    .leaflet-popup-tip {
                        background: rgb(167, 0, 0);
                    }

                }

                .moderate {
                    .leaflet-popup-content-wrapper {
                        background: rgb(156, 167, 0);
                        color     : white;

                        a {
                            color: lightgrey;
                        }
                    }

                    .leaflet-popup-tip {
                        background: rgb(156, 167, 0);
                    }

                }

                .minimal {
                    .leaflet-popup-content-wrapper {
                        background: rgb(21, 24, 212);
                        color     : white;

                        a {
                            color: lightgrey;
                        }
                    }

                    .leaflet-popup-tip {
                        background: rgb(21, 24, 212);
                    }

                }
            }
        }
    }
}